/* Amsterdam Ultimate - Autumn 2013 CSS */

body {
	font-family: helvetica;
}

/* Menu */
nav ul li {
	display: inline-block;
	margin: 0 1em;
	padding-bottom: 0.5em;
}

/* Secties */
section#content > section {
	display: none;
}

section#content > section.active {
	display: block;
}

/* Tabel */
table {
    background-color: rgba(100, 200, 255, 0.5);
    width: 60%;
}

tr {
    text-align: left;
}

tr:nth-child(2n) {
    background-color: rgba(100, 200, 255, 0.2);
}

.show {
	display: block;
}

.hide {
	display: none;
}

th {
	text-align: left;
}

td {
	width: 4em;
}

article > section:nth-of-type(2) > section > section > input {
	width: 3em;
	font-size: 1em;
	text-align: right;
}

input:nth-of-type(2) {
	text-align: left;
}


/* Header section */
header {
	position:relative;
	padding:.5em .5em;
	background-color: #64C8FF;
}
	header h1 {
		color:#fff;
		font-size: 1.6em;
		width: 100%;
	}

/* Content section */
article#content {
	clear:left;
	margin: 0;
}
	article > section {
		display:none;
	}
	article > section.active {
		display:block;
	}
	article h1 {
		margin-bottom: .5em;
	}

	article ul {
		list-style: none;
		margin-bottom:3em;
	}

article > section:nth-of-type(1) > section {
	margin: 0;
}

article > section:nth-of-type(1) > section > section > h1:nth-of-type(1) {
	font-size: 2em;
	width: 100%;
}

article > section > section > section > h1:nth-of-type(2) {
	color: rgba(255, 255, 255, 1);
	background-color: #259433;
	font-size: 1em;
}

article > section:nth-of-type(1) > section > section {

	width: 100%;

}


article > section:nth-of-type(1) > section > section > label:nth-of-type(2), article > section:nth-of-type(1) > section > section > label:nth-of-type(4) {
	font-weight: bold;
}

article > section:nth-of-type(2) > section > section {
	padding-top: 2em;

}

article > section:nth-of-type(2) > section > section > label {
	font-size: 1em;
}

article > section:nth-of-type(2) > section > section > label:nth-of-type(1) {
	padding-right: 1em;
}

article > section:nth-of-type(2) > section > section > label:nth-of-type(3) {
	padding-left: 1em;
}

article > section:nth-of-type(2) > section > section > p:nth-of-type(1) > label:nth-of-type(1) {
	padding-right: 2em;
}

article > section:nth-of-type(3) > section > h1 {
	font-size: 2em;
}

#changescore {
	cursor: pointer;
}

/* Spinner */
#spinner.spin {
	height:60px;
	width:60px;
	margin:0px auto;
	margin-top: 1em;
	display: block;
	position:relative;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
	border-left:6px solid rgba(100, 200, 255, 0.5);
	border-right:6px solid rgba(100, 200, 255, 0.5);
	border-bottom:6px solid rgba(100, 200, 255, 0.5);
	/* border-top:6px solid rgba(200, 100, 100,.8); */
	border-radius:100%;
	}

	@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
	}

	@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(359deg);}
	}

	@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(359deg);}
	}

	@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}